@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --text: #090101;
  --background: #fffefe;
  --primary: #4becec;
  --secondary: #d1e5fa;
  --accent: #18e780;
}

[data-theme="dark"] {
  --text: #fffefe;
  --background: #212125;
  --primary: #4becec;
  --secondary: #05192e;
  --accent: #74f1b3;
}

*,
html {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: var(--text);
}

body {
  background-color: var(--background);
  transition: all .2s ease-in-out;
}

header {
  padding: 10px;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  padding: 10px;
  justify-content: end;
}

nav li {
  list-style-type: none;
}

.theme {
  position: absolute;
  bottom: 0;
  right: 0;
}

.theme button {
  background: none;
  border: none;
  font-size: xx-large;
  padding: 10px 15px;
  cursor: pointer;
}
