*,
html {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #f4f1e8;
  --text-color: #291e12;
  --footer-bg-color: #e4dfd3;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

header {
  text-align: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header h1 {
  font-size: 75px;
}

header h1 span {
  position: relative;
}

header h1 span::before {
  content: "";
  position: absolute;
  width: var(--bg-width);
  height: 100%;
  background: #fff300;
  z-index: -1;
  width: 100%;
  animation: highlight 0.8s ease-in-out;
}

@keyframes highlight {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

footer {
  background-color: var(--footer-bg-color);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 190px;
}

footer .icon-group {
  text-align: center;
  font-size: 30px;
  margin-top: 77px;
}

footer .icon-group a {
  color: var(--text-color);
  margin-left: 200px;
  margin-right: 200px;
}

footer .icon-group a i {
  transition: transform 0.2s ease-in-out;
}

footer .icon-group a i:hover {
  transform: rotate(-5deg) scale(1.4);
}
