@font-face {
  font-family: "Lostar";
  src: url("./fonts/Lostar/Lostar.ttf");
}

@font-face {
  font-family: "Hercules";
  src: url("./fonts/Hercules/Hercules.otf");
}

@font-face {
  font-family: "thelorin";
  src: url("./fonts/thelorin/Thelorin.otf");
}

*,
html {
  margin: 0;
  padding: 0;
  font-family: "thelorin", Arial, sans-serif;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: black;
  transition: background-color 0.3s ease;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

:root {
  --bg-color: #262520; /* Dark background color */
  --text-color: #f4f1e8; /* Light beige text for contrast */
  --footer-bg-color: #25241f; /* Slightly lighter dark for footer */
}

body {
  background: var(--bg-color);
  background-image: url("../image/download.png");
  background-repeat:repeat;
  color: var(--text-color);
  background-size: 20px 20px, 30px 30px;
}

.center {
  padding: 70px 0;
  text-align: center;
}

#main_section {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 8px;
}

#main_section h1 {
  font-size: 5vw;
  font-family: "Lostar", Arial, sans-serif;
}

#information_section * {
  font-family: "Hercules", Arial, sans-serif;
}

#information_section {
  margin-top: 40em;
  padding: 20px;
}

#information_section .profile {
  font-size: clamp(1.5em, 2vw, 2em);
  margin-bottom: 20px;
}

.profile img {
  width: 7em;
  height: 7em;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  border: 3px solid #f4f1e8; /* Light border for contrast */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

@media (max-width: 768px) {
  #main_section h1 {
    font-size: 10vw;
  }

  #information_section {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  #main_section h1 {
    font-size: 12vw;
  }

  #information_section .profile {
    font-size: 1.5em;
  }
}
